
data_plane_server/__pycache__/__init__.cpython-310.pyc
*.pyc
local/*
local/.*
src/app.py
*.swp
dist/*
src/sdtp.egg-info/PKG-INFO
src/sdtp.egg-info/SOURCES.txt
src/sdtp.egg-info/top_level.txt

debug_sdml.py
foo
/tmp
notebooks/scratch/presidential-history.sdml
notebooks/scratch/quickstart.sdml
